<%- include('./partials/head') %>

<a href="/">Back</a>

<!-- console.log(squads) -->

<h2>Find something</h2>

<ol>
    <% if(persons){ %>
        <% persons.forEach(person => { %>
            <li><a href="../person/<%= person.id %>"><%= person.name %></a>, squad_id <%= person.squad_id %></li>
        <% }) %>
    <% } %>
</ul>


<%- include('./partials/foot') %>