<%- include('./partials/head'); %>

<main>

  <%- include('./partials/header') %>

  <article>

    <!-- <form>
      <label for="searchSquad">Search squads:</label>
      <div class="select">
        <select name="searchSquad" id="searchSquad">
          <option value="">Select:</option>
          <% squads.forEach(squad => { %>
            <% if (squad.name != "Minor Web") { %>
              <option value="./squad/<%= squad.slug %>" > <%= squad.name %></option>
            <% } %>
          <% }) %>
          <option value="./members">All members</option>
        </select>
        <span class="focus"></span>
      </div>
    </form> -->

    <ul>
    <% squads.forEach(squad => { %>
      <% if (squad.name != "Minor Web") { %>
        <li>
          <a href="./squad/<%= squad.slug %>">
            <img src="/members/<%= squad.slug %>.JPG" alt="">
            <h3><%= squad.name %></h3> 
          </a>
        </li>
        <% } %>
    <% }) %>
    <li>
      <a href="./members">
        <h3>All members</h3> 
      </a>
    </li>
  </ul>

  </article>

</main>

<script>
  // Formulier get squad
  // document.querySelector('#searchSquad').addEventListener('change', (event) => {
  //   window.location.href = event.target.value;
  // });
</script>

<%- include('./partials/foot') %>