<%- include('./partials/head',{pageTitle: "Search squad"}); %>

<main>

  <!-- <header>
      <h1>
        <a href="/">FDND</a> 
        <span>Wie<span>Is</span>Wie</span>
      </h1>
  </header> -->
  <%- include('./partials/header',{squad: squad.name}); %>
  
  <article>
    <form>
      <label for="searchmembers">Search <%= squad.name; %> members:</label>
      <input type="text" 
        list="members" 
        id="searchmembers" 
        name="searchmembers" 
        autocomplete="off" 
        placeholder="Search <%= squad.name; %> members">
      <datalist id="members">
        <% squad.members.forEach(member => { %>
            <option value="<%= member.name %> <%= member.prefix; %> <%= member.surname; %>"></option>
          <% }); %>
      </datalist>
    </form>

    <ul>
        <li>
          <img src="/members/<%= squad.slug %>.JPG" alt="">
          <h3><%= squad.name %></h3> 
        </li>
    </ul>
  </article>

</main>

<script>
  // Formulier afhandeling
  const searchmembers =  document.querySelector('#searchmembers');
  searchmembers.addEventListener('change', (event) => {
    const name = event.target.value;
    const dashName = name.replace(/\s+/g, '-'); //replace spaces with dash
    // console.log(imgName);

    const markup = `
        <li id="${dashName}">
            <img src="/members/${dashName}.JPG"" alt="">
            <h3>${name}</h3>
        </li>
    `;
    document.querySelector('ul').insertAdjacentHTML("afterbegin",markup);
    // window.location.href = "#"+dashName;
    searchmembers.value=""; //clear input field

  });

  /**
   * Gebruikte bronnen 
   * 3 Ways To Create HTML Element In JavaScript 
   * https://softauthor.com/create-html-element-in-javascript/
   * 
   * Element.insertAdjacentHTML() 
   * https://developer.mozilla.org/en-US/docs/Web/API/Element/insertAdjacentHTML
   * 
  */

</script>

<%- include('./partials/foot') %>