<%- include('./partials/head',{pageTitle: squad.name}); %>

<%- include('./partials/header',{squad: squad.name}); %>

<main>
  
  <article>

    <ul>
        <li>
          <img src="/members/<%= squad.slug %>.JPG" alt="">
          <h3><%= squad.name %></h3> 
        </li>
        <% squad.members.forEach(member => { 
          const name = member.name + " " + member.prefix + " " + member.surname + ".JPG"
          const dashName = name.replace(/\s+/g, '-'); //replace spaces with dash
          %>
          <li>
            <img src="/members/<%= dashName; %>" alt="">
              <h3><%= member.name %> <%= member.prefix; %> <%= member.surname; %></h3>
          </li>
        <% }); %>
    </ul>
  </article>

</main>

<%- include('./partials/foot') %>